{% extends 'base.html.twig' %}

{% block title %}O Nas!{% endblock %}

{% block body %}
<div class="about-page">
    <div class="in-dev">
        This page is under construction
    </div>
</div>
{% endblock %}
