@import "./component/header";
@import "./component/footer";
@import "./page/main_page";
@import "./page/about_page";
@import "./page/offer_page";
@import "./page/news_page";
@import "./page/gallery_page";

body {
    background-color: lightgray;
}

html, body {
    height: 100%;
    margin: 0;
    background: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.body {
    flex: 1;
}